@model IEnumerable<PoshFoods.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<div>
    <img src="~/lib/Filo-group-shot-e1541867777139.jpg" style="height: 200px;width: 300px; border:solid">
    <img src="~/lib/Quiche-Group-shot-1-e1541867812536.jpg" style="height: 200px;width: 300px; border:solid">
    <img src="~/lib/Small-Pate-group-shot.jpg" style="height: 200px;width: 300px; border:solid">

</div>
<h1>List of Products:</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Add New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-dark">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-dark">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
